* {
    text-align: center;
    color: red;
}

#main-header {
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 2px;
}

li, ul {
    padding-left: 25px;
    padding-right: 25px;
}

